<nav class="navbar navbar-expand-lg navbar-light " [ngClass]="{'bg-dark': mode === 'dark', 'bg-light':mode === 'light' }">
  <div class="container-fluid">
    <a class="navbar-brand" [ngClass]="{'text-white': mode === 'dark', 'text-dark':mode === 'light' }" >Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home-page']" [ngClass]="{'text-white': mode === 'dark', 'text-dark':mode === 'light' }"  routerLinkActive="router-link-active"  aria-current="page" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard-page']" [ngClass]="{'text-white': mode === 'dark', 'text-dark':mode === 'light' }" routerLinkActive="router-link-active" >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/parent']" [ngClass]="{'text-white': mode === 'dark', 'text-dark':mode === 'light' }" routerLinkActive="router-link-active" >Parent</a>
        </li>
      </ul>
      <button class="btn btn-outline-success" (click)="onChagenColor()" [ngClass]="{'text-white': mode === 'dark', 'text-dark':mode === 'light' }" type="button">Mode</button>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<h1>Data Pipe</h1>
<p>{{today| date:'fullDate' }}</p>
<div [ngClass]="{'bg-dark': mode === 'dark', 'bg-light':mode === 'light' }">
  <router-outlet></router-outlet>
</div>
